
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFD1DC; 
  color: #333;
  padding-top: 60px; 
}


.navbar {
  background-color: #FF69B4; 
  padding: 15px;
  text-align: center;
  border-bottom: 4px solid #FFC0CB; 
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 15px; /* Añade separación horizontal entre los elementos de la lista */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #FFD1DC; 
}

.navbar-logo {
  width: 25px; 
  height: 25px; 
  vertical-align: middle; /* Alinea la imagen con el texto */
  
}

.Coleccion {
  text-align: center;
  padding: 50px 20px;
  background-color: #FFB6C1; 
  
  color: white;
}

.Coleccion h1 {
  font-size: 48px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.Coleccion p {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.images-gallery {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #FFB6C1; 
  
}

.images-gallery img {
  border: 5px solid #FFC0CB; 
  border-radius: 10px;
  width: 135px;
  height: 150px;
  box-shadow: 0 0 30px rgb(255, 255, 255); /*lo primero es para colocar el borde de la sombra*/
}

.images-gallery img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background-color:  #FFB6C1
}

button {
  padding: 10px 25px;
  background-color: #FF69B4 !important; 
  color: white;
  border: 2px solid #FFD1DC !important; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #FFB6C1 !important; 
  border-color: #FF69B4 !important;
}

